<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gábor Hári"/>
    <title>PollApp</title>
    <link th:href="@{../css/main.css}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
</head>
<body>
<nav>
    <div class="nav-grid-container">
        <div class="grid-item-nav-title">
            PollApp
        </div>
        <img class="grid-item-nav-img" th:src="@{../images/logo_inverted_small.png}" alt="PollApp small logo">
        <a class="grid-item-nav-polls" href="/poll-list">View Polls</a>
        <a class="grid-item-nav-create" href="/poll-management/creation">Create a Poll</a>
        <a class="grid-item-sign-out-link" href="/logout">Sign Out</a>
    </div>
</nav>
<header>
    <h1 class="poll-creation-title">Create a Poll</h1>
    <h3 class="error-box" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
</header>
<section id="poll-creation">
    <div class="poll-creation-container">
        <form method="post" th:action="@{/poll-management/create}" th:object="${pollCreationForm}">
            Question<br>
            <input class="question-text-input" required th:field="*{question.question}" type="text"
                   autocomplete="off"/><br>
            Answers<br>
            <button class="answer-button" onclick="showAnswerInput()" type="button">+</button>
            <button class="answer-button" onclick="hideClearAnswerInput()" type="button">-</button><br>
            <span hidden th:each="answer, stat : *{answerList}" th:id="${'answerSpan' + stat.index}">
                <input class="answer-text-input" th:field="*{answerList[__${stat.index}__].answer}"
                       autocomplete="off"/><br>
            </span>
            <br>
            <button class="create-button" type="submit">Create Poll</button>
        </form>
    </div>
</section>
<script type="text/javascript" th:src="@{../js/creation.js}"></script>
</body>
</html>