<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poll Creation</title>
    <link th:href="@{../css/main.css}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{../favicon.png}"/>
</head>
<body>
<nav>
    <div class="nav-grid-container">
        <div class="grid-item-nav-title">
            PollApp
        </div>
        <img class="grid-item-nav-img" th:src="@{../images/logo_inverted_small.png}">
        <a class="grid-item-nav-polls" href="/poll-list">View Polls</a>
        <a class="grid-item-nav-create" href="/poll-management/creation">Create a Poll</a>
        <a class="grid-item-sign-out-link" href="/logout">Sign Out</a>
    </div>
</nav>
<section class="poll-creation">
    <h1 class="poll-creation-title">Create a Poll</h1>
    <div class="poll-creation-container">
        <form method="post" th:action="@{/poll-management/create}" th:object="${pollCreationForm}">
            Question<br>
            <input class="question-text-input" required th:field="*{question.question}" type="text"
                   autocomplete="off"/><br>
            Answers<br>
            <button class="answer-button" onclick="showAnswerInput()" type="button">+</button>
            <button class="answer-button" onclick="hideClearAnswerInput()" type="button">-</button><br>
            <span hidden th:each="answer, stat : *{answerList}" th:id="${'answerSpan' + stat.index}">
                <input class="answer-text-input" th:field="*{answerList[__${stat.index}__].answer}"
                       autocomplete="off"/><br>
            </span>
            <br>

            <button class="create-button" type="submit">Create Poll</button>
        </form>
    </div>
</section>
<h3 style="color:red" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
<script>
    let lastShownAnswerNo = -1;

    const showAnswerInput = () => {
        let answer = document.getElementById(`answerSpan${lastShownAnswerNo + 1}`);
        if (answer === null) return;
        answer.hidden = false;
        lastShownAnswerNo++;
    }

    const hideClearAnswerInput = () => {
        let answer = document.getElementById(`answerSpan${lastShownAnswerNo}`);
        let input = document.getElementById(`answerList${lastShownAnswerNo}.answer`);
        if (answer === null) return;
        answer.hidden = true;
        input.value = '';
        lastShownAnswerNo--;
    }
</script>
</body>
</html>