<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PollApp</title>
    <link rel="shortcut icon" type="image/png" th:href="@{favicon.png}"/>
    <link th:href="@{./css/main.css}" rel="stylesheet">
</head>
<body>
<section id="error">
    <div class="unexpected-error">
        <img th:src="@{./images/logo.png}">
        <h1>Ooops, something went wrong :(</h1>
        <a href="/poll-list">- Take me back -</a>
    </div>
</section>
</body>
</html>