<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Gábor Hári" name="author"/>
    <title>PollApp</title>
    <link rel="shortcut icon" th:href="@{favicon.png}" type="image/png"/>
    <link rel="stylesheet" th:href="@{./css/main.css}">
</head>
<body>
<section id="error">
    <div class="unexpected-error">
        <img alt="PollApp logo" th:src="@{./images/logo.png}">
        <h1>Ooops, something went wrong :(</h1>
        <a href="/poll-list">- Take me back -</a>
    </div>
</section>
</body>
</html>