<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!-- We didn't include a separate registration form -->
<h1>Please, sign in (or register)</h1>
<form method="post" th:object="${currentUser}">
    <table>
        <tr>
            <td>
                <label>Username</label>
            </td>
            <td>
                <input required th:field="*{username}" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input required th:field="*{password}" type="password"/>
            </td>
        </tr>
        <tr>
            <td>
                <button formaction="/login/sign-in" type="submit">Sign In</button>
            </td>
        </tr>
        <tr>
            <td>
                <label>OR</label>
            </td>
        </tr>
        <tr>
            <td>
                <button formaction="/login/register" type="submit">Register</button>
            </td>
            <td>
                <label>As</label>
                <select th:field="*{roleId}">
                    <option th:each="userRole : ${userRoleList}" th:text="${userRole.roleDescription}"
                            th:value="${userRole.roleId}">
                    </option>
                </select>
            </td>
        </tr>
    </table>
</form>
<h3 style="color:red" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
</body>
</html>