<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login (Register)</title>
</head>
<tbody>
    <!-- We didn't include a separate registration form -->
    <h1>Please, sign in (or register)</h1>
    <form th:action="@{/login}" th:object="${currentUser}" method="post">
        <table>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input type="text" name="username" />
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="text" name="password" />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="action" value="login">Login</button>
                </td>
            </tr>
            <tr>
                <td>
                    OR
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="action" value="register">Register</button>
                </td>
                <td>
                    As
                    <select th:field="*{roleId}">
                        <option th:each="userRole : ${userRoles}" value="${userRole.roleId}"
                                th:text="${userRole.roleDescription}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</tbody>
</html>