<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PollApp</title>
    <link th:href="@{./css/main.css}" rel="stylesheet">
</head>
<body>
<nav>
    <div class="nav-grid-container">
        <span class="grid-item-nav-title">PollApp</span>
        <a class="grid-item-nav-link" href="/poll-list">View Polls</a>
        <a class="grid-item-nav-link" href="/poll-management/creation">Create a Poll</a>
        <a class="grid-item-sign-out-link" href="/logout" style="float: right">Sign Out</a>
    </div>
</nav>
<section class="poll-list">
    <h1 class="poll-list-title">Available Polls</h1>
    <form method="get" th:action="@{/poll}" th:object="${pollListForm}">
        <table class="poll-list-table">
            <tr class="poll-list-header">
                <td><b>Question</b></td>
                <td><b>Creator</b></td>
                <td><b>Votes</b></td>
            </tr>
            <tr th:each="poll: *{pollList}">
                <td class="td-question" th:text="${poll.question}"/>
                <td class="td-creator" th:text="${poll.creator}"/>
                <td class="td-votes" th:text="${poll.voteCount}"/>
                <td>
                    <button class="view-button" id="viewButton" name="selectedQuestionId"
                            th:text="View"
                            th:value="${poll.questionId}"
                            type="submit"/>
                </td>
            </tr>
        </table>
    </form>
</section>
<h3 style="color:red" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
</body>
</html>