<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta content="Gábor Hári" name="author"/>
    <title th:text="#{appName}"/>
    <link rel="stylesheet" th:href="@{./css/main.css}">
    <link rel="shortcut icon" th:href="@{favicon.png}" type="image/png"/>
</head>
<body>
<nav>
    <div class="nav-grid-container">
        <div class="grid-item-nav-title" th:text="#{appName}"/>
        <img alt="PollApp small logo" class="grid-item-nav-img" th:src="@{../images/logo_inverted_small.png}">
        <a class="grid-item-nav-polls" href="/poll-list" th:text="#{navbar.poll-list}"/>
        <a class="grid-item-nav-create" href="/poll-management/creation" th:text="#{navbar.creation}"/>
        <a class="grid-item-sign-out-link" href="/logout" th:text="#{navbar.sign-out}"/>
    </div>
</nav>
<header>
    <h1 class="poll-list-title" th:text="#{poll-list.title}"/>
    <h3 class="error-box" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
</header>
<section id="poll-list">
    <form method="get" th:object="${pollListForm}">
        <table class="poll-list-table">
            <tr class="poll-list-header">
                <td th:text="#{poll-list.headerQuestion}"/>
                <td th:text="#{poll-list.headerCreator}"/>
                <td th:text="#{poll-list.headerVotes}"/>
            </tr>
            <tr th:each="poll: *{pollList}">
                <td class="td-question" th:text="${poll.question}"/>
                <td class="td-creator" th:text="${poll.creator}"/>
                <td class="td-votes" th:text="${poll.voteCount}"/>
                <td>
                    <button sec:authorize="hasRole('USER')"
                            formaction="/poll"
                            class="view-button" id="userViewButton" name="questionId"
                            th:text="#{poll-list.viewButton}"
                            th:value="${poll.questionId}"
                            type="submit"/>
                    <button sec:authorize="hasRole('ADMIN')"
                            formaction="/poll/results"
                            class="view-button" id="adminViewButton" name="questionId"
                            th:text="#{poll-list.viewButton}"
                            th:value="${poll.questionId}"
                            type="submit"/>
                </td>
            </tr>
        </table>
    </form>
</section>
</body>
</html>