<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poll List</title>
</head>
<body>
<a href="/poll-list">View Polls</a>
<a href="/poll-management/creation" th:if="${userRole == 1}">Create a Poll</a>
<a href="/logout" style="float: right">Sign Out</a>
<hr>
<h1>Select a poll</h1>
<form method="get" th:action="@{/poll}" th:object="${pollListForm}">
    <table>
        <tr>
            <td><b>Question</b></td>
            <td><b>Creator</b></td>
        </tr>
        <tr th:each="question, stat : *{questionList}">
            <td th:text="*{questionList[__${stat.index}__].question}" />
            <td th:text="*{questionList[__${stat.index}__].appUser.username}" />
            <td>
                <button id="viewButton" name="selectedQuestionId"
                        th:text="View"
                        th:value="*{questionList[__${stat.index}__].questionId}"
                        type="submit"/>
            </td>
        </tr>
    </table>
</form>
<h3 style="color:red" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
</body>
</html>