<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
</head>
<body>
    <a href="/poll-list">View Polls</a>
    <a href="/poll-creation">Create a Poll</a>
    <a href="/logout" style="float: right">Sign Out</a>
    <hr>
    <h1>Time to vote!</h1>
    <form th:object="${pollForm}" th:action="@{/poll/submit-vote}" method="post">
        <b><span th:text = *{questionDTO.question} /></b><br>
        <input type="hidden" name="selectedQuestionId" id="selectedQuestionId" th:value="*{questionDTO.questionId}" />
        <span th:each="answerDTO, stat : *{answerDTOList}">
            <input type="radio" th:field="*{selectedAnswerId}"
                th:value="*{answerDTOList[__${stat.index}__].answerId}"
                th:text="*{answerDTOList[__${stat.index}__].answer}" required/><br>
        </span>
        <button type="submit">Vote</button>
    </form>
    <h3 th:if="${errorMsg != null}" th:text="${errorMsg}" style="color:red"/>
</body>
</html>