<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PollApp</title>
    <link th:href="@{../css/main.css}" rel="stylesheet">
</head>
<body>
<nav>
    <div class="nav-grid-container">
        <span class="grid-item-nav-title">PollApp</span>
        <a class="grid-item-nav-link" href="/poll-list">View Polls</a>
        <a class="grid-item-nav-link" href="/poll-management/creation">Create a Poll</a>
        <a class="grid-item-sign-out-link" href="/logout" style="float: right">Sign Out</a>
    </div>
</nav>
<section class="poll">
    <h1 class="poll-title">Time to vote!</h1>
    <div class="poll-container">
        <form method="post" th:action="@{/poll/submit-vote}" th:object="${pollForm}">
            <span th:text="*{question.question}"/><br>
            <hr class="poll-hr">
            <input id="selectedQuestionId" name="selectedQuestionId" th:value="*{question.questionId}" type="hidden"/>
            <div th:each="answer, stat : *{answerList}">
                <input class="poll-radio" required th:field="*{selectedAnswerId}"
                       th:value="*{answerList[__${stat.index}__].answerId}" type="radio"/>
                <label class="poll-radio-label" th:for="${#ids.prev('selectedAnswerId')}">
                    <div class="poll-radio-display" th:text="*{answerList[__${stat.index}__].answer}"/>
                </label>
            </div>
            <button class="vote-button" type="submit">Vote</button>
        </form>
        <form th:if="${userId == pollForm.question.creatorId}">
            <button class="poll-delete-button" formaction="/poll-management/delete" formmethod="post"
                    name="questionId" th:value="${pollForm.question.questionId}">
                Delete Poll
            </button>
        </form>
    </div>
</section>
<h3 style="color:red" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
</body>
</html>