<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create a Poll</h1>
    <form th:action="@{/pollCreation/create}" th:object="${pollForm}" method="post">
        <p>
            <label>Question</label><br>
            <input type="text" th:field="*{question}" required />
        </p>
        <p>
            <label>Answers</label><br>
            <span th:each="currAnswer, stat : *{answerList}">
                 <input th:field="*{answerList[__${stat.index}__].answer}" required /><br>
            </span>
            <br>
            <button type="button">Add answer</button>
            <button type="button">Remove answer</button>
            <p>
                <button type="submit">Create Poll</button>
            </p>
        </p>
    </form>
    <h3 th:if="${errorMsg != null}" th:text="${errorMsg}" style="color:red"/>
</body>
</html>