<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
</head>
<body>
<a href="/poll-list">View Polls</a>
<a href="/poll-management/creation" th:if="${userRole == 1}">Create a Poll</a>
<a href="/logout" style="float: right">Sign Out</a>
<hr>
<h1>Time to vote!</h1>
<form method="post" th:action="@{/poll/submit-vote}" th:object="${pollForm}">
    <b><span th:text="*{question.question}"/></b><br>
    <input id="selectedQuestionId" name="selectedQuestionId" th:value="*{question.questionId}" type="hidden"/>
    <span th:each="answer, stat : *{answerList}">
            <input required th:field="*{selectedAnswerId}"
                   th:text="*{answerList[__${stat.index}__].answer}"
                   th:value="*{answerList[__${stat.index}__].answerId}" type="radio"/><br>
        </span>
    <button type="submit">Vote</button>
</form>
<h3 style="color:red" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
</body>
</html>