@font-face {
    font-family: main;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

html {
    background-color: rgb(18, 35, 51);
    color: rgb(213, 225, 239);
    font-family: main;
    letter-spacing: 1px;
}

body {
    margin: 0;
}

header {
    text-align: center;
    font-size: xx-large;
    color: rgb(40, 143, 88);
}

nav {
    background-color: rgb(40, 143, 88);
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.title {
    color: rgb(48, 171, 106);
    letter-spacing: 16px;
    font-size: 70px;
    margin: 30px 0px 30px 0px;
}

@media only screen and (min-width: 1000px) {
    .title {
        font-size: 100px;
    }
}

.nav-grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    grid-gap: 15px;
}

.grid-item-nav-title {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(18, 35, 51);
}

.grid-item-nav-link {
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-decoration: none;
}

.grid-item-sign-out-link {
    color: rgb(255, 255, 255);
    margin-top: 20px ;
    font-size: large;
    text-decoration: none;
}

@media only screen and (min-width: 1000px) {
    .nav-grid-container {
        display: grid;
        grid-template-columns: 250px 200px 250px 1fr 200px;
        grid-template-areas: "a b c d e";
    }

    .grid-item-sign-out-link {
        margin-top: 0px;
        grid-area: e;
    }
}

.button {
    border-radius: 7px;
    font-size: large;
    border-style: none;
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 143, 88);
    margin: 15px 0px 15px 0px;
    padding: 15px;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(40, 143, 88);
}

.text-input {
    font-size: large;
    padding: 0px 10px 0px 10px;
    border-radius: 7px;
    color: rgb(213, 225, 239);
    border-style: none;
    height: 35px;
    width: 65%;
    background-color: rgb(48, 66, 87);
    margin: 10px 0px 25px 0px;
}

.sign-in-grid-container {
    display: grid;
}

.grid-item-sign-in {
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    font-size: x-large;
    padding: 35px 10px 25px 10px;
    background-color: rgb(24, 42, 62);
    width: 350px;
    text-align: center;
}

.grid-item-logo {
    display: none;
    align-self: center;
    justify-self: center;
}

.grid-item-logo img {
    max-width: 75%;
    margin: auto;
}

@media only screen and (min-width: 1000px) {
    .sign-in-grid-container {
        display: grid;
        grid-template-columns: 10% 350px auto;
        grid-template-areas: "a b c";
    }

    .grid-item-sign-in {
        grid-area: b;
    }

    .grid-item-logo {
        grid-area: c;
        display: grid;
    }
}

